<%- include('header')%>
<div class="container">
    <h1>Category page</h1>
    <form id="categoryForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Category Name</label>
          <input type="text" class="form-control" name="catName" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="errMsg"></div>
        </div>
        <button type="button" class="btn btn-primary add_cat">Add Category</button>
      </form>
</div>
<%- include('footer')%>
